<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.daleyzou.patient.dao.PatientJpgMapper">
  <resultMap id="BaseResultMap" type="cc.daleyzou.patient.domain.PatientJpg">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="patient_id" jdbcType="BIGINT" property="patientId" />
    <result column="slice_location" jdbcType="REAL" property="sliceLocation" />
    <result column="sop_instance_uid" jdbcType="VARCHAR" property="sopInstanceUid" />
  </resultMap>
</mapper>